<div class="todos">
  <header>
    <h1>To do list</h1>
    <nav class="todos__nav-bar">
      <input
        type="text"
        name="inputTodo"
        class="todo__input"
        placeholder="Task Name"
        [(ngModel)]="task.content"
      />
      <div class="todos__select-level">
        <select
          name="select-level"
          class="options"
          [(ngModel)]="task.difficulty"
        >
          <option [ngValue]="undefined" selected hidden>Select</option>
          <option
            [ngValue]="selected"
            *ngFor="let selected of difficultyOptions"
          >
            {{ selected }}
          </option>
        </select>
      </div>
      <button
        (click)="addTask()"
        class="todos__button"
        type="submit"
        value="add todo"
      >
        Add
      </button>
    </nav>
  </header>

  <i class="fa fa-user fa-5x"></i>

  <div class="taskbox">
    <app-taskbox
      [tasks]="todos"
      title="Todo"
      (remove)="deleteUserHandler($event)"
      (movetodo)="movetodoHandler($event)"
      (moveinprogress)="moveinprogressHandler($event)"
      (movedone)="movedoneHandler($event)"
    ></app-taskbox>

    <app-taskbox
      [tasks]="inprogresses"
      title="Inprogress"
      (remove)="deleteUserHandler($event)"
      (movetodo)="movetodoHandler($event)"
      (moveinprogress)="moveinprogressHandler($event)"
      (movedone)="movedoneHandler($event)"
    ></app-taskbox>

    <app-taskbox
      [tasks]="dones"
      title="Done"
      (remove)="deleteUserHandler($event)"
      (movetodo)="movetodoHandler($event)"
      (moveinprogress)="moveinprogressHandler($event)"
      (movedone)="movedoneHandler($event)"
    ></app-taskbox>
  </div>
</div>
